<div class="container">
  <div>
    <h1>Team Generator</h1>
    <ul class="list">
      <li *ngFor="let member of members">{{member | titlecase}}</li>

    </ul>
    <div class="add-members-container">
      <input
        #newMemberInput
        type="text" 
        placeholder="Name"
        (input) = "getNewMember(newMemberInput.value)"
        [value]="newMemberName"
      >
      <div class="add-members-buttons">
        <button (click)="addMember()">Add</button>
        <button (click)="clearList()">Clear the list</button>
      </div>
    </div>
    <div class="generator-teams-container">
      <input
        #numberOfTeamsInput
        type="text" 
        placeholder="# number of teams"
        (input)="getNumberOfTeam(numberOfTeamsInput.value)"
        [value]="numberOfTeams"
      >
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p *ngIf="errorMessage" class="error-msg">{{errorMessage}}</p>
    <div *ngIf="teams.length" >
      <app-team *ngFor = "let team of teams; let i = index"
        [team] = "team"
        [index] = i      
      ></app-team>
    </div>
  </div>
  <app-footer></app-footer>
</div>